
# токены, пароли
TG_TOKEN=telegram_token
MK_BEARER=multicarta_bearer
SERVICE_PASS=your_service_pass     # твой сервисный пароль для изменения настроек

# служебное
LAST_UPDATE_ID=364247356
DW_TABLE_URL=https://......your_dwload_table_url   # ссылка скачивания табюлички актуальных заявок (удалить bearer из неё)
